<div class="page-header">
  <%= link_to line_details_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_line_detail_path(@line_detail), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show line_detail</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
  <dd><%= @line_detail.title %></dd>

  <dt>Description:</dt>
  <dd><%= @line_detail.description %></dd>

</dl>
