<div class="page-header">
  <%= link_to phase_details_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h3>แบ่งช่วงระยะโครงการ</h3>
</div>

<%= render 'form' %>
